@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

@section header
{
    <div class="col-lg-12 col-md-12">
        <h2>Oops!</h2>
        An error occurred while processing your request.
        <br/>
        @Model.Exception.Message
        <hr />
    </div>
}
<div class="col-lg-12 col-md-12">
    <p>
        <h4><strong>Why am I seeing this message?</strong></h4>
        <em>An internal error occured while trying to process your request.</em>
        <br />
        We apologize for this inconvience. If this continues please contact Saleular directly to continue..
    </p>
    <p>
        <strong><em>Phone:</em></strong> 718.376.0800
    </p>

</div>