#bridge-background {
    background-image: url('/Images/About/bridge.jpg');
    background-repeat: no-repeat;
    height: 688px;
}

#customerServiceText {
    position: absolute;
    left: 500px;
    top: 20px;
    -ms-opacity: 0;
    opacity: 0;
    -webkit-text-shadow: 2px 2px 2px #888888;
    -ms-text-shadow: 2px 2px 2px #888888;
    text-shadow: 2px 2px 2px #888888;
}

#testimonialsTextHeader {    
    position: absolute;
    left: 500px;
    top: 60px;

    -ms-opacity: 0;
    opacity: 0;
}

#testimonialsText {
    position: absolute;
    left: 500px;
    top: 150px;

    -ms-opacity: 0;
    opacity: 0;
}

#specializesText {
    position: absolute;
    left: 500px;
    top: 20px;
    -ms-opacity: 0;
    opacity: 0;
    -webkit-text-shadow: 2px 2px 2px #888888;
    -ms-text-shadow: 2px 2px 2px #888888;
    text-shadow: 2px 2px 2px #888888;
}

#businessTextHeader {    
    position: absolute;
    left: 500px;
    top: 150px;

    -ms-opacity: 0;
    opacity: 0;
}

#businessText {
    position: absolute;
    left: 500px;
    top: 280px;

    -ms-opacity: 0;
    opacity: 0;
}

#locationText {
    position: absolute;
    left: 500px;
    top: 20px;

    -ms-opacity: 0;
    opacity: 0;

    color: whitesmoke;   
}

#growthTextHeader {    
    position: absolute;
    left: 500px;
    top: 100px;

    -ms-opacity: 0;
    opacity: 0;

    color: whitesmoke;
}

#growthText {
    position: absolute;
    left: 500px;
    top: 160px;

    -ms-opacity: 0;
    opacity: 0;

    color: whitesmoke;
}

.ci-text-shadow {
    -ms-text-shadow: 5px 5px 5px #9aa9ba;
    text-shadow: 5px 5px 5px #9aa9ba;
    -webkit-transition: text-shadow 1s; /* For Safari 3.1 to 6.0 */
    -moz-transition: text-shadow 1s;
    -ms-transition: text-shadow 1s;
    -o-transition: text-shadow 1s;
    transition: text-shadow 1s;
}

.ci-text-shadow-white {
    -ms-text-shadow: 5px 5px 5px #ededed;
    text-shadow: 5px 5px 5px #ededed;
    -webkit-transition: text-shadow 1s; /* For Safari 3.1 to 6.0 */
    -moz-transition: text-shadow 1s;
    -ms-transition: text-shadow 1s;
    -o-transition: text-shadow 1s;
    transition: text-shadow 1s;
}

.iphone-img {
    background-image: url('/Images/About/iphonebanner2.jpg');
    background-repeat: no-repeat;
    height: 200px;
}

.location-img {
    background-image: url('/Images/About/nlbanner.png');
    background-repeat: no-repeat;
    height: 200px;
}

.no-margin {
    margin-top: 0px;
}

.padding-left {
    padding-left: 20px;
}
