@{
    ViewBag.Title = "Looking To Buy iPhones";
}

<div class="col-lg-12 col-md-12">
    <form class="form-horizontal" method="post">
        <div class="form-group">
            <label for="businessName" class="control-label col-lg-2 col-md-2">Business Name</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span id="businessNameAddon" data-toggle="tooltip" title="What company are you from?" class="input-group-addon box-shadow-dgray"><span class="glyphicon glyphicon-globe"></span></span>
                    <input id="businessName"
                           type="text"
                           name="businessName"
                           class="form-control box-shadow-dgray"
                           placeholder="e.g. The name of your company"
                           data-val="true"
                           data-val-required="Your business name is required" />
                </div>
            </div>
            <div class="col-md-3">
                <span class="control-label field-validation-valid" data-valmsg-for="businessName" data-valmsg-replace="true">
                </span>
            </div>
        </div>
        <div class="form-group">
            <label for="name" class="control-label col-lg-2 col-md-2">Name</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span id="nameAddon" data-toggle="tooltip" title="Your name please..." class="input-group-addon box-shadow-dgray"><span class="glyphicon glyphicon-user"></span></span>
                    <input id="name"
                           type="text"
                           name="name"
                           class="form-control box-shadow-dgray"
                           placeholder="e.g. Brad Pitt"
                           data-val="true"
                           data-val-required="Your name is required" />
                </div>
            </div>
            <div class="col-md-3">
                <span class="control-label field-validation-valid" data-valmsg-for="name" data-valmsg-replace="true">
                </span>
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="control-label col-lg-2 col-md-2">Email</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span id="emailAddon" data-toggle="tooltip" title="This email address will be used for later correspondence" class="input-group-addon box-shadow-dgray">&#64;</span>
                    <input id="email"
                           type="email"
                           name="email"
                           class="form-control box-shadow-dgray"
                           placeholder="e.g. bpitt@gmail.com"
                           data-val="true"
                           data-val-required="Your email is required" />
                </div>
            </div>
            <div class="col-md-3">
                <span class="control-label field-validation-valid" data-valmsg-for="email" data-valmsg-replace="true">
                </span>
            </div>
        </div>
        <div class="form-group">
            <label for="phone" class="control-label col-lg-2 col-md-2">Phone Number</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span id="phoneAddon" data-toggle="tooltip" title="This phone number will be used for later correspondence" class="input-group-addon box-shadow-dgray"><span class="glyphicon glyphicon-phone"></span></span>
                    <input id="phone"
                           type="text"
                           name="phone"
                           class="form-control box-shadow-dgray"
                           placeholder="e.g. 222-555-1212"
                           data-val="true"
                           data-val-required="Your phone number is required" />
                </div>
            </div>
            <div class="col-md-3">
                <span class="control-label field-validation-valid" data-valmsg-for="phone" data-valmsg-replace="true">
                </span>
            </div>
        </div>
        <div class="form-group">
            <label for="address" class="control-label col-lg-2 col-md-2">Address</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span id="addressAddon" data-toggle="tooltip" title="This address will be used for later correspondence" class="input-group-addon box-shadow-dgray"><span class="glyphicon glyphicon-home"></span></span>
                    <input id="address"
                           type="text"
                           name="address"
                           class="form-control box-shadow-dgray"
                           placeholder="e.g. 123 Main Street"
                           data-val="true"
                           data-val-required="Your address is required" />
                </div>
            </div>
            <div class="col-md-3">
                <span class="control-label field-validation-valid" data-valmsg-for="address" data-valmsg-replace="true">
                </span>
            </div>
        </div>
        <div class="form-group">
            <label for="taxId" class="control-label col-lg-2 col-md-2">Tax ID Number</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span id="taxIdAddon" data-toggle="tooltip" title="A Taxpayer Identification Number (TIN) is an identification number used by the Internal Revenue Service (IRS) in the administration of tax laws" class="input-group-addon box-shadow-dgray"><span id="taxIdDollarSign">$</span></span>
                    <input id="taxId"
                           type="text"
                           name="taxId"
                           class="form-control box-shadow-dgray"
                           placeholder="e.g. A-00-000000"
                           data-val="true"
                           data-val-required="Your tax id is required" />
                </div>
            </div>
            <div class="col-md-3">
                <span class="control-label field-validation-valid" data-valmsg-for="taxId" data-valmsg-replace="true">
                </span>
            </div>
        </div>
        <div class="form-group">
            <label for="businessAreaDropDown" class="control-label col-lg-2 col-md-2">Business Area</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span id="businessAreaAddon" data-toggle="tooltip" title="Your type of business" class="input-group-addon box-shadow-dgray"><span class="glyphicon glyphicon-question-sign"></span></span>
                    <div class="dropdown">
                        <input id="businessAreaSelection"
                               type="text"
                               name="businessAreaSelection"
                               class="selected-value box-shadow-dgray" style="float: left"
                               placeholder="e.g. Retailer"
                               data-val="true"
                               data-val-required="Your business area is required" />
                        <button class="btn btn-primary box-shadow-dgray" data-toggle="dropdown"><span class="caret"></span></button>
                        <ul id="businessAreaDropDown" class="dropdown-menu">
                            <li>
                                <a href="#">Retailer</a>
                            </li>
                            <li>
                                <a href="#">Distributor</a>
                            </li>
                            <li>
                                <a href="#">Repair Service</a>
                            </li>
                            <li>
                                <a href="#">Other</a>
                            </li>
                        </ul>
                    </div>                   
                </div>
            </div>
            <div class="col-md-3">
                <span class="control-label field-validation-valid" data-valmsg-for="businessAreaSelection" data-valmsg-replace="true">
                </span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-11 col-md-11 col-lg-offset-2 col-md-offset-2">
                <input type="submit" class="btn btn-primary" value="Get a Price List" />
            </div>
        </div>
    </form>
</div>

@section header
{
    <div class="col-lg-12 col-md-12">
        <h2>Looking to Buy IPhones?</h2>        
        <p>
            Wholesale pricing on all qualifying purchases, usually 40% off listed retail prices.
            Additonal dollar volume discounts off wholesale prices.
        </p>
        <p>
            To inquire about becoming a wholesale account, or to ask for a price list, email, fax, or give us a call.
            You can also fill in the form below, one of our sales representatives will call you back, all fields must be completed.
        </p>
        <hr />
    </div>
}
@section scripts
{
    @Scripts.Render("~/Scripts/validation")
    @Scripts.Render("~/Scripts/request_gadgets")
}
@section styles
{
    <link href="~/Content/custom/request_gadgets.css" rel="stylesheet" />
}

