@{
    ViewBag.Title = "BrowseSelection";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<div class="container padding-top-20">
    <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="thumbnail box-shadow-dgray">
            <img src="~/Images/iPhones/iPhone4.png" class="img-responsive" alt="iphone">
            <div class="caption caption-font">                
                <h2>iPhone 4</h2>                
                <a href="https://support.apple.com/kb/SP587?viewlocale=en_US&locale=en_US" target="_blank" class="btn-link" role="button">View Technical Specifications</a>
                <br />
                <br />
                <strong>Condition</strong>
                <br />
                New, Refurbished
                <br />
                <br />
                <strong>Capacity</strong>
                <br />
                8GB, 16GB or 32GB flash drive
                <br />
                <br />
                <div>
                    <a href="/Phone/SellPhone" class="btn btn-xs btn-default" role="button">Sell It</a> <a href="/Phone/PriceList" class="btn btn-xs btn-default" role="button">Buy It</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="thumbnail box-shadow-dgray">
            <img src="~/Images/iPhones/iPhone4S.png" alt="iphone">
            <div class="caption caption-font">
                <h2>iPhone 4S</h2>
                <a href="https://support.apple.com/kb/SP643?viewlocale=en_US&locale=en_US" target="_blank" class="btn-link" role="button">View Technical Specifications</a>
                <br />
                <br />
                <strong>Condition</strong>
                <br />
                New, Refurbished
                <br />
                <br />
                <strong>Capacity</strong>
                <br />
                8GB, 16GB or 32GB flash drive
                <br />
                <br />
                <div>
                    <a href="/Phone/SellPhone" class="btn btn-xs btn-default" role="button">Sell It</a> <a href="/Phone/PriceList" class="btn btn-xs btn-default" role="button">Buy It</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="thumbnail box-shadow-dgray">
            <img src="~/Images/iPhones/iPhone5.png" alt="iphone">
            <div class="caption caption-font">
                <h2>iPhone 5</h2>
                <a href="https://support.apple.com/kb/SP655?viewlocale=en_US&locale=en_US" target="_blank" class="btn-link" role="button">View Technical Specifications</a>
                <br />
                <br />
                <strong>Condition</strong>
                <br />
                New, Refurbished
                <br />
                <br />
                <strong>Capacity</strong>
                <br />
                16GB, 32GB or 64GB flash drive
                <br />
                <br />
                <div>
                    <a href="/Phone/SellPhone" class="btn btn-xs btn-default" role="button">Sell It</a> <a href="/Phone/PriceList" class="btn btn-xs btn-default" role="button">Buy It</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="thumbnail box-shadow-dgray">
            <img src="~/Images/iPhones/iPhone5C.png" alt="iphone">
            <div class="caption caption-font">
                <h2>iPhone 5C</h2>
                <a href="https://support.apple.com/kb/SP684?viewlocale=en_US&locale=en_US" target="_blank" class="btn-link" role="button">View Technical Specifications</a>
                <br />
                <br />
                <strong>Condition</strong>
                <br />
                New, Refurbished
                <br />
                <br />
                <strong>Capacity</strong>
                <br />
                8GB, 16GB, 32GB or 64GB flash drive
                <br />
                <br />
                <div>
                    <a href="/Phone/SellPhone" class="btn btn-xs btn-default" role="button">Sell It</a> <a href="/Phone/PriceList" class="btn btn-xs btn-default" role="button">Buy It</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="thumbnail box-shadow-dgray">
            <img src="~/Images/iPhones/iPhone5S.png" alt="iphone">
            <div class="caption caption-font">
                <h2>iPhone 5S</h2>
                <a href="https://support.apple.com/kb/SP685?viewlocale=en_US&locale=en_US" target="_blank" class="btn-link" role="button">View Technical Specifications</a>
                <br />
                <br />
                <strong>Condition</strong>
                <br />
                New, Refurbished
                <br />
                <br />
                <strong>Capacity</strong>
                <br />
                16GB, 32GB or 64GB flash drive
                <br />
                <br />
                <div>
                    <a href="/Phone/SellPhone" class="btn btn-xs btn-default" role="button">Sell It</a> <a href="/Phone/PriceList" class="btn btn-xs btn-default" role="button">Buy It</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="thumbnail box-shadow-dgray">
            <img src="~/Images/iPhones/iPhone6.jpg" alt="iphone">
            <div class="caption caption-font">
                <h2>iPhone 6</h2>
                <a href="https://support.apple.com/kb/SP705?viewlocale=en_US&locale=en_US" target="_blank" class="btn-link" role="button">View Technical Specifications</a>
                <br />
                <br />
                <strong>Condition</strong>
                <br />
                New, Refurbished
                <br />
                <br />
                <strong>Capacity</strong>
                <br />
                16GB, 64GB or 128GB flash drive
                <br />
                <br />
                <div>
                    <a href="/Phone/SellPhone" class="btn btn-xs btn-default" role="button">Sell It</a> <a href="/Phone/PriceList" class="btn btn-xs btn-default" role="button">Buy It</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="thumbnail box-shadow-dgray">
            <img src="~/Images/iPhones/iPhone6plus.png" alt="iphone">
            <div class="caption caption-font">
                <h2>iPhone 6 Plus</h2>
                <a href="https://support.apple.com/kb/SP706?viewlocale=en_US&locale=en_US" target="_blank" class="btn-link" role="button">View Technical Specifications</a>
                <br />
                <br />
                <strong>Condition</strong>
                <br />
                New, Refurbished
                <br />
                <br />
                <strong>Capacity</strong>
                <br />
                16GB, 64GB or 128GB flash drive
                <br />
                <br />
                <div>
                    <a href="/Phone/SellPhone" class="btn btn-xs btn-default" role="button">Sell It</a> <a href="/Phone/PriceList" class="btn btn-xs btn-default" role="button">Buy It</a>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    @Scripts.Render("~/Scripts/validation")
    @Scripts.Render("~/Scripts/phone_browseselection")
}
@section styles
{
    @Styles.Render("~/Content/phone_browseselection")
}

