@model IEnumerable<Saleular.Models.Phone>

@{
    ViewBag.Title = "FindCarriers";
}


@using (Ajax.BeginForm("GetCarriers", "Phone", new AjaxOptions
{
    HttpMethod = "POST",
    Confirm = "Do you wish to submit?",
    UpdateTargetId = "result",
    InsertionMode = InsertionMode.Replace
}))
{
    <input type="submit" value="Submit" />
    <div id="result">
        @foreach (var item in Model)
        {
            <div>@item.Carrier</div>
        }
    </div>
}



