@{
    ViewBag.Title = "Offer";
}

<div class="col-lg-12 col-md-12">
    <h2>Get an Offer on your iPhone</h2>
    <p>
        Start by selecting your device model, carrier, capacity and condition in order to get an offer.
        Once you have selected your iPhone you will see that our offer price beats the other sites.
    </p>
    <hr />
</div>

<div class="col-lg-12 col-md-12">
    <input type="submit" class="btn btn-primary" value="Accept Offer" />
</div>





