@{
    ViewBag.Title = "Looking To Buy iPhones";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<form class="form-horizontal" method="post">
    <div class="col-lg-6 col-md-6 col-sm-6 padding-top-20">
        <div class="form-group padding-bottom-10">
            <label for="businessName" class="control-label label-font">Company Name</label>
            <div class="input-group">
                <span id="businessNameAddon" data-toggle="tooltip" title="What company are you from?" class="input-group-addon box-shadow-dgray pointer-tooltip"><span class="glyphicon glyphicon-tower"></span></span>
                <input id="businessName"
                       type="text"
                       name="businessName"
                       class="form-control box-shadow-dgray"
                       placeholder="e.g. The name of your company"
                       data-val="true"
                       data-val-required="Your business name is required" />
            </div>
            <span class="control-label field-validation-valid" data-valmsg-for="businessName" data-valmsg-replace="true"></span>
        </div>
        <div class="form-group padding-bottom-10">
            <label for="name" class="control-label label-font">Name</label>
            <div class="input-group">
                <span id="nameAddon" data-toggle="tooltip" title="Your name please..." class="input-group-addon box-shadow-dgray pointer-tooltip"><span class="glyphicon glyphicon-user"></span></span>
                <input id="name"
                       type="text"
                       name="name"
                       class="form-control box-shadow-dgray"
                       placeholder="e.g. Brad Pitt"
                       data-val="true"
                       data-val-required="Your name is required" />
            </div>
            <span class="control-label field-validation-valid" data-valmsg-for="name" data-valmsg-replace="true"></span>
        </div>
        <div class="form-group padding-bottom-10">
            <label for="email" class="control-label label-font">Email</label>
            <div class="input-group">
                <span id="emailAddon" data-toggle="tooltip" title="This email address will be used for later correspondence" class="input-group-addon box-shadow-dgray pointer-tooltip">&#64;</span>
                <input id="email"
                       type="email"
                       name="email"
                       class="form-control box-shadow-dgray"
                       placeholder="e.g. bpitt@gmail.com"
                       data-val="true"
                       data-val-required="Your email is required" />
            </div>
            <span class="control-label field-validation-valid" data-valmsg-for="email" data-valmsg-replace="true"></span>
        </div>
        <div class="form-group padding-bottom-10">
            <label for="phone" class="control-label label-font">Phone Number</label>
            <div class="input-group">
                <span id="phoneAddon" data-toggle="tooltip" title="This phone number will be used for later correspondence" class="input-group-addon box-shadow-dgray pointer-tooltip"><span class="glyphicon glyphicon-phone"></span></span>
                <input id="phone"
                       type="text"
                       name="phone"
                       class="form-control box-shadow-dgray"
                       placeholder="e.g. 222-555-1212"
                       data-val="true"
                       data-val-required="Your phone number is required" />
            </div>
            <span class="control-label field-validation-valid" data-valmsg-for="phone" data-valmsg-replace="true"></span>
        </div>
        <div class="form-group padding-bottom-10">
            <label for="address" class="control-label label-font">Address</label>
            <div class="input-group">
                <span id="addressAddon" data-toggle="tooltip" title="This address will be used for later correspondence" class="input-group-addon box-shadow-dgray pointer-tooltip"><span class="glyphicon glyphicon-home"></span></span>
                <input id="address"
                       type="text"
                       name="address"
                       class="form-control box-shadow-dgray"
                       placeholder="e.g. 123 Main Street"
                       data-val="true"
                       data-val-required="Your address is required" />
            </div>
            <span class="control-label field-validation-valid" data-valmsg-for="address" data-valmsg-replace="true"></span>
        </div>
        <div class="form-group padding-bottom-10">
            <label for="taxid" class="control-label label-font">Tax ID Number</label>
            <div class="input-group">
                <span id="taxIdAddon" data-toggle="tooltip" title="A Taxpayer Identification Number (TIN) is an identification number used by the Internal Revenue Service (IRS) in the administration of tax laws" class="input-group-addon box-shadow-dgray pointer-tooltip"><span id="taxIdDollarSign">$</span></span>
                <input id="taxid"
                       type="text"
                       name="taxid"
                       class="form-control box-shadow-dgray"
                       placeholder="e.g. 123 Main Street"
                       data-val="true"
                       data-val-required="Your address is required" />
            </div>
            <span class="control-label field-validation-valid" data-valmsg-for="taxid" data-valmsg-replace="true"></span>
        </div>
        <div class="form-group padding-bottom-10">
            <label for="businessTypeSelection" class="control-label label-font">Business Type</label>
            <div class="input-group padding-bottom-10">
                <div class="dropdown">
                    <div class="selected-value box-shadow-dgray" style="float: left" id="businessTypeSelection">Select Type...</div>
                    <button class="btn btn-primary box-shadow-dgray" data-toggle="dropdown"><span class="caret"></span></button>
                    <ul class="dropdown-menu" id="businessTypeDropdown">
                        <li>
                            <a href="#">Retailer</a>
                        </li>
                        <li>
                            <a href="#">Distributor</a>
                        </li>
                        <li>
                            <a href="#">Repair Service</a>
                        </li>
                        <li>
                            <a href="#">Other</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</form>
@section header
{
    <div class="col-lg-12 col-md-12">
        <h2>Looking to Buy iPhones?</h2>
        <p>
            Wholesale pricing on all qualifying purchases, usually 40% off listed retail prices.
            Additonal dollar volume discounts off wholesale prices.
            <br />
            To inquire about becoming a wholesale account, or to ask for a price list, fill out the form below and one of our sales representatives will call you back.
        </p>
        <hr />
    </div>
}
@section scripts
{
    @Scripts.Render("~/Scripts/validation")
    @Scripts.Render("~/Scripts/phone_pricelist")
}
@section styles
{
    @Styles.Render("~/Content/phone_pricelist")
}

