
@{
    ViewBag.Title = "Shipping Label Request Sent";
}

<div class="col-lg-12 col-md-12">
    <h2>Customer Service Is On It</h2>
    <p>
        We have recieved your request for a shipping label and will be contacting you shortly.
    </p>
    <hr />
</div>
<div class="col-lg-3 col-md-3">
    <img src="~/Images/Questions/customer-service.png" class="img-responsive" />
</div>
<div class="col-lg-9 col-md-9">
    <p>
        Your question have gone directly to our Saleular Support Team!
    </p>
    <p>
        You should expect a response within 24 hours.
    </p>
</div>


