
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Vaildate</title>

    <link href="/Content/bootstrap/css/bootstrap-yeti.css" rel="stylesheet" />
    <link href="/Content/site.css" rel="stylesheet" />

    <script src="/Scripts/jquery/jquery-2.1.0.js"></script>

    <script src="/Scripts/jquery/jquery.validate.js"></script>
    @*<script src="/scripts/jquery/jquery.validate.unobtrusive.js"></script>*@

    <script src="/Scripts/bootstrap/bootstrap.js"></script>
    <script src="/Scripts/respond.js"></script>

    <script src="/Scripts/modernizr-2.6.2.js"></script>

    <script>
        $(document).ready(function () {

            $("#passwordResetForm").validate({
                rules: {
                    password: {
                        required: true,
                        minlength: 8,
                        maxlength: 40,
                        // comment out for demo
                        /* 
                        remote: {
                            url: "/ajax/isPasswordOK",
                            data: {
                                product: function () {
                                    return $("#password").val();
                                }
                            }
                        }
                        */
                    },
                    confirmPassword: {
                        required: true,
                        equalTo: "#password"
                    },
                },
                messages: {
                    password: {
                        required: "Please enter a password",
                        minlength: "Password must be at least {0} characters long",
                        remote: "Password should contain: <li>At least one upper case character <li>At least one lower case character <li>At least one number <li>And may not contain any of the following: \\;-\")(&*='|$"
                    },
                    confirmPassword: {
                        required: "Please confirm your password",
                        equalTo: "The passwords do not match"
                    },
                },
                onkeyup: false, //turn off auto validate whilst typing
                submitHandler: function (form) {
                    alert('is good');
                    return false;
                }
            });

        });
    </script>
</head>
<body>
    <div> 
        <form id="passwordResetForm" style="width: 480px; margin: auto;">
            <div class="row">
                <p class="lead">Let's reset that password</p>
            </div>
            <div class="row">
                <div class="small-8 large-4 columns">
                    <label>New Password:</label>
                </div>
                <div class="small-12 large-6 columns">
                    <input name="password" id="password" type="password" size="20" />
                </div>
            </div>
            <div class="row">
                <div class="small-8 large-4 columns">
                    <label>Confirm Password:</label>
                </div>
                <div class="small-12 large-6 columns">
                    <input name="confirmPassword" id="confirmPassword" type="password" size="20" />
                </div>
            </div>
            <div class="row">
                <div class="large-offset-10 small-3 large-1 columns">
                    <input type="submit" id="passwordResetButton" class="small button" />
                </div>
            </div>
        </form>
    </div>
</body>
</html>
