@{
    ViewBag.Title = "About";
}

<div class="col-lg-12 col-md-12">
    <h2>About Us</h2>
    <p>
        Learn how the company got started and start to realize the Saleular difference.
    </p>
    <hr />
</div>
<div class="col-lg-12 col-md-12">
    <h2>
        Our Story
    </h2>
    <p>
        Saleular.com started with an idea to keep broken and used iPhones out of landfills. When the founders much-used, much-loved iPhone broke, it dawned on him that there weren't many eco-friendly or economically gainful things do with it. After some research, they discovered that there were a lot of people out there who had the same problem; broken iPhones, few options.
    </p>
    <hr />
</div>
<div class="col-lg-12 col-md-12">
    <h2>
        Why throw away iPhones when you can get paid cash for them?
    </h2>
    <p>
        Saleular.com was created to offer a quick, simple and friendly solution for people looking to unload unwanted (broken, used, and new) iPhones.
    </p>
    <p>
        Saleular.com offers an easier, faster, and higher paying option than Gazelle, iSellMyiPhone, BuyBackBoss or any other sites out there, guaranteed.
    </p>
    <hr />
</div>
<div class="col-lg-12 col-md-12">
    <h2>
        Contact Us
    </h2>
    <p>
        <strong><em>Phone:</em></strong> 718.376.0800
        |
        <strong><em>Twitter:</em></strong> &#64;saleular
        |
        <strong><em>MSN:</em></strong> saleular@live.com
        |
        <strong><em>Facebook:</em></strong> Like Us!
    </p>
</div>
@*</div>*@
