@{
    ViewBag.Title = "Company Information";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div style="margin-bottom: 10px" class="carousel slide hidden-sm hidden-xs" data-interval="7000" id="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-xs-offset-3">
                    <img src="~/Images/About/contato.jpg" class="img-responsive" alt="1" />
                </div>
            </div>
            <h1 id="customerServiceText">Our Customers Service is #1</h1>
            <div>
                <h3 id="testimonialsTextHeader">Read testimonials from real customers who<br />rave about it!</h3>
                <h4 id="testimonialsText">
                    ...I was very impressed and pleased with how everything<br />was handled! Very quick, professional, and easy!
                    <br />
                    <br />
                    ...I will definitely use this again in the future!
                    <br />
                    <br />
                    ...I will never use another company. Saleular has <br /><strong>excellent customer service</strong>!
                </h4>
            </div>
        </div>
        <div class="item">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-xs-offset-3">
                    <img src="~/Images/About/iphones.jpg" class="img-responsive" alt="1" />
                </div>
            </div>
            <h1 id="specializesText">Saleular <strong>specializes</strong> in<br />buying and selling iPhones.</h1>
            <div>
                <h3 id="businessTextHeader">Saleular has been in business,<br />buying and selling refurbished iPhones,<br />for over <strong>15 years</strong>!</h3>
                <h4 id="businessText">
                    We have the industry leading warranty program with<br />representatives ready to assist you.
                    <br />
                    <br />
                    Feel free to call us 718.376.0800 or @Html.ActionLink("ask us a question", "Questions") online.
                </h4>
            </div>
        </div>
        <div class="item">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="bridge-background">
                </div>
            </div>
            <h1 id="locationText">New Location!</h1>
            <div>
                <h2 id="growthTextHeader">We are very excited about our beautiful new location.</h2>
                <h2 id="growthText">
                    We are growing fast and dedicated to<br />serving our loyal customers in the Brooklyn community.
                </h2>
            </div>
        </div>
    </div>
    <a id="carousel-left-arrow" href="#carousel" class="carousel-control left" data-slide="prev"><span class="icon-prev"></span></a>
    <a id="carousel-right-arrow" href="#carousel" class="carousel-control right" data-slide="next"><span class="icon-next"></span></a>
</div>
<div class="row hidden-lg hidden-md">
    <h2 class="section-center">#1 Customer Service</h2>
    <div class="section-center">
        <table class="table table-condensed table-responsive no-border">
            <tr>
                <td class="h4">
                    <h3>Read testimonials from real customers who<br />rave about it!</h3>
                    <br />
                    ...I was very impressed and pleased with how everything<br />was handled! Very quick, professional, and easy!
                    <br />
                    <br />
                    ...I will definitely use this again in the future!
                    <br />
                    <br />
                    ...I will never use another company. Saleular has <br /><strong>excellent customer service</strong>!
                </td>
            </tr>
        </table>
    </div>
</div>
@{
    ViewBag.Title = "Saleular Company Information";
}
@section scripts
{
    @Scripts.Render("~/Scripts/home_companyinfo")
}
@section styles
{
    @Styles.Render("~/Content/home_companyinfo")
}
@*<div class="col-lg-3 col-md-3">
        <img src="~/Images/About/broken.jpg" class="img-responsive" alt="" />
    </div>
    <div class="col-lg-9 col-md-9">
        <h2>
            About Saleular
        </h2>
        <p>
            So basically just a bunch of fancy words describing that we have been in business for over 15 years.  We deal primarily with iPhones.  We are the iphone maven.  We recently moved to a bigger location to keep up with growing demand.  Throw in some honesty and integrity statements here and there.    We have a constant flow of iphones.   We offer an industry leading warranty program with representatives on hand to help.
        </p>
        <hr />
        <h2>
            Why throw away iPhones when you can get paid cash for them?
        </h2>
        <p>
            Saleular.com was created to offer a quick, simple and friendly solution for people looking to unload unwanted (broken, used, and new) iPhones.
            Saleular.com offers an easier, faster, and higher paying option than Gazelle, iSellMyiPhone, BuyBackBoss or any other sites out there, guaranteed.
        </p>
    </div>
    <div class="col-lg-12 col-md-12">
        <h2>
            Contact Us
        </h2>
        <p>
            <strong><em>Phone:</em></strong> 718.376.0800
            |
            <strong><em>Twitter:</em></strong> @@saleular
            |
            <strong><em>MSN:</em></strong> saleular@live.com
            |
            <strong><em>Facebook:</em></strong> Like Us!
        </p>
    </div>
    @section header
    {
        <div class="col-lg-12 col-md-12">
            <h2>About Us</h2>
            <p>
                Learn how the company got started and start to realize the Saleular difference.
            </p>
            <hr />
        </div>
    }*@

