<section class="row">
    <div class="col-lg-12 col-md-12">
        <h2>
            Our Customers Service is #1
        </h2>
    </div>
    <div class="col-lg-3 col-md-3">
        <img src="~/Images/About/servicerep.png" class="sales-rep-img" alt="Saleular Representative" />
    </div>
    <div class="col-lg-9 col-md-9 visible-lg visible-md">
        <h4 class="sales-rep-text">
            Saleular has been in business, buying and selling used iPhones, for over 15 years. We have the industry leading warranty program with representatives on hand to help.
            <br/>
            <br />
            Feel free to call us 718.376.0800 or @Html.ActionLink("ask us a question", "Questions") online.
        </h4>
    </div>
    <div class="col-lg-12 col-md-12 visible-sm visible-xs">
        <h4 class="sales-rep-text">
            Saleular has been in business, buying and selling used iPhones, for over 15 years. We have the industry leading warranty program with representatives on hand to help.
        </h4>
    </div>
</section>
<br />
<br />
<br />
<section class="row">
    <div class="col-lg-12 col-md-12">
        <h2>
            The iPhone Mavens
        </h2>
        <h4 class="no-margin" id="iphoneText">
            Saleular <strong>specializes</strong> in buying and selling iPhones.                
        </h4>
        <div class="col-lg-12 iphone-img-text img-responsive"></div>
    </div>
</section>
<br />
<br />
<br />
<section class="row">
    <div class="col-lg-12 col-md-12">
        <h2>
            Recently Expanded
        </h2>
        <h4 class="no-margin" id="nlText">
            Due to our fast growth we expanded to a new larger location
        </h4>
        <div>
            <div class="col-lg-12 img-responsive" id="nl-img-text">
                <h3 class="nl-text">...in the heart of Brooklyn New York!</h3>
            </div>
        </div>
    </div>
</section>
<br/>
<br />
@{
    ViewBag.Title = "Saleular Company Information";
}
@section scripts
{
    @Scripts.Render("~/Scripts/home_companyinfo")
}
@section styles
{
    @Styles.Render("~/Content/home_companyinfo")
}
@*<div class="col-lg-3 col-md-3">
        <img src="~/Images/About/broken.jpg" class="img-responsive" alt="" />
    </div>
    <div class="col-lg-9 col-md-9">
        <h2>
            About Saleular
        </h2>
        <p>
            So basically just a bunch of fancy words describing that we have been in business for over 15 years.  We deal primarily with iPhones.  We are the iphone maven.  We recently moved to a bigger location to keep up with growing demand.  Throw in some honesty and integrity statements here and there.    We have a constant flow of iphones.   We offer an industry leading warranty program with representatives on hand to help.
        </p>
        <hr />
        <h2>
            Why throw away iPhones when you can get paid cash for them?
        </h2>
        <p>
            Saleular.com was created to offer a quick, simple and friendly solution for people looking to unload unwanted (broken, used, and new) iPhones.
            Saleular.com offers an easier, faster, and higher paying option than Gazelle, iSellMyiPhone, BuyBackBoss or any other sites out there, guaranteed.
        </p>
    </div>
    <div class="col-lg-12 col-md-12">
        <h2>
            Contact Us
        </h2>
        <p>
            <strong><em>Phone:</em></strong> 718.376.0800
            |
            <strong><em>Twitter:</em></strong> @@saleular
            |
            <strong><em>MSN:</em></strong> saleular@live.com
            |
            <strong><em>Facebook:</em></strong> Like Us!
        </p>
    </div>
    @section header
    {
        <div class="col-lg-12 col-md-12">
            <h2>About Us</h2>
            <p>
                Learn how the company got started and start to realize the Saleular difference.
            </p>
            <hr />
        </div>
    }*@

