@{
    ViewBag.Title = "Company Information";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div style="margin-bottom: 10px" class="carousel slide hidden-sm hidden-xs" data-interval="7000" id="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-xs-offset-3">
                    <img src="~/Images/About/contato.jpg" class="img-responsive" alt="1" />
                </div>
            </div>
            <h1 id="customerServiceText">Our Customers Service is #1</h1>
            <div>
                <h3 id="testimonialsTextHeader">Read testimonials from real customers who<br />rave about it!</h3>
                <h4 id="testimonialsText">
                    ...I was very impressed and pleased with how everything<br />was handled! Very quick, professional, and easy!
                    <br />
                    <br />
                    ...I will definitely use this again in the future!
                    <br />
                    <br />
                    ...I will never use another company. Saleular has <br /><strong>excellent customer service</strong>!
                </h4>
            </div>
        </div>
        <div class="item">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-xs-offset-3">
                    <img src="~/Images/About/iphones.jpg" class="img-responsive" alt="1" />
                </div>
            </div>
            <h1 id="specializesText">Saleular <strong>specializes</strong> in<br />buying and selling iPhones.</h1>
            <div>
                <h3 id="businessTextHeader">Saleular has been in business,<br />buying and selling refurbished iPhones,<br />for over <strong>15 years</strong>!</h3>
                <h4 id="businessText">
                    We have the industry leading warranty program with<br />representatives ready to assist you.
                    <br />
                    <br />
                    Feel free to call us 718.376.0800.
                </h4>
            </div>
        </div>
        <div class="item">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="bridge-background">
                </div>
            </div>
            <h1 id="locationText">New Location!</h1>
            <div>
                <h2 id="growthTextHeader">We are very excited about our beautiful new location.</h2>
                <h2 id="growthText">
                    We are growing fast and dedicated to<br />serving our loyal customers in the Brooklyn community.
                </h2>
            </div>
        </div>
    </div>
    <a id="carousel-left-arrow" href="#carousel" class="carousel-control left" data-slide="prev"><span class="icon-prev"></span></a>
    <a id="carousel-right-arrow" href="#carousel" class="carousel-control right" data-slide="next"><span class="icon-next"></span></a>
</div>
<div class="container hidden-lg hidden-md" style="text-align: center">
    <h2 class="section-center">#1 Customer Service</h2>
    <div class="section-center">
        <table class="table table-condensed table-responsive no-border">
            <tr>
                <td class="h4">
                    Read testimonials from real customers who rave about it!
                    <br />
                    <br />
                    ...I was very impressed and pleased with how everything was handled! Very quick, professional, and easy!
                    <br />
                    <br />
                    ...I will definitely use this again in the future!
                    <br />
                    <br />
                    ...I will never use another company!
                </td>
            </tr>
        </table>
    </div>
    <h2 class="section-center">Saleular specializes in buying and selling iPhones.</h2>
    <div class="section-center">
        <table class="table table-condensed table-responsive no-border">
            <tr>
                <td class="h4">
                    Saleular has been in business,<br />buying and selling refurbished iPhones,<br />for over <strong>15 years</strong>!
                    We have the industry leading warranty program with<br />representatives ready to assist you.
                    <br />
                    <br />
                    Feel free to call us 718.376.0800.
                </td>
            </tr>
        </table>
    </div>
    <h2 class="section-center">New Location!</h2>
    <div class="section-center">
        <table class="table table-condensed table-responsive no-border">
            <tr>
                <td class="h4">
                    We are very excited about our beautiful new location.
                    <br />
                    We are growing fast and dedicated to<br />serving our loyal customers in the Brooklyn community.
                </td>
            </tr>
        </table>
    </div>
</div>
@section scripts
{
    @Scripts.Render("~/Scripts/home_companyinfo")
}
@section styles
{
    @Styles.Render("~/Content/home_companyinfo")
}
