@{
    ViewBag.Title = "Sell Your iPhone";
}

<style>
    h2, hr {
        padding: 0px;
        margin: 10px;
    }

    .lead {
        padding: 0px;
        margin: 0px;
    }
</style>

<div class="row">
    <div class="col-md-6">
        <p class="lead">We pay the most for your used or new iPhone <em>Guarenteed!</em></p>
    </div>
    <div class="col-md-6">
        <a href="http://asp.net" class="btn btn-info">Get a Quote &raquo;</a>
    </div>
</div>

<div class="row">
    <div class="col-md-9">
        <img src="~/Images/Carousel/c1.jpg" class="img-responsive" />
        <h2>3 Easy Steps</h2>
        <hr />
        <div class="col-md-4">
            <h2>Get an Offer</h2>
            <p>
                Get an offer on your phone quickly that is guarenteed to beat our competitors.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-5">
            <h2>Ship it </h2>
            <p>Request a free shipping label and ship your phone quickly and easily using Fedex or the USPS.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get Paid</h2>
            <p>As soon as your iPhone is received and processed you will receive payment via PayPal or a check.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-info">
            <div class="panel-heading">
                Top iPhone 5S Offers Paid
            </div>
            <div class="panel-body">
                16GB Verizon
                <br/>
                Flawless Condition
                <br/>
                $390
                <br/>
                <br />
                iPhone<br />
                16GB Verizon<br />
                Good Condition<br />
                $365<br /><br />

                iPhone<br />
                16GB Sprint<br />
                Flawless Condition<br />
                $370<br /><br />
            </div>
        </div>
        
    </div>
</div>   
