@{
    ViewBag.Title = "Questions";
}
<div class="col-lg-12 col-md-12">
    <form class="form-horizontal" method="post">
        <div class="form-group">
            <label for="nameInput" class="control-label col-lg-1 col-md-1">Name</label>
            <div class="col-md-6">
                <div class="input-group">
                    <span id="nameAddon" data-toggle="tooltip" title="Tell us who you are!" class="input-group-addon box-shadow-dgray"><span class="glyphicon glyphicon-user"></span></span>
                    <input id="name"
                           type="text"
                           name="name"
                           class="form-control box-shadow-dgray"
                           placeholder="e.g. Brad Pitt"
                           data-val="true"
                           data-val-required="Your name is required" />
                </div>
            </div>
            <div class="col-md-2">
                <span class="control-label field-validation-valid" data-valmsg-for="name" data-valmsg-replace="true">
                </span>
            </div>
        </div>
        <div class="form-group">
            <label for="emailInput" class="control-label col-lg-1 col-md-1">Email</label>
            <div class="col-md-6">
                <div class="input-group">
                    <span id="emailAddon" data-toggle="tooltip" title="This email address will be used for later correspondence" class="input-group-addon box-shadow-dgray">&#64;</span>
                    <input id="email"
                           type="email"
                           name="email"
                           class="form-control box-shadow-dgray"
                           placeholder="e.g. bpitt@gmail.com"
                           data-val="true"
                           data-val-required="Your email is required" />
                </div>
            </div>
            <div class="col-md-2">
                <span class="control-label field-validation-valid" data-valmsg-for="email" data-valmsg-replace="true">
                </span>
            </div>
        </div>
        <div class="form-group">
            <label for="questionInput" class="control-label col-lg-1 col-md-1">Questions</label>
            <div class="col-md-6">
                <textarea id="question"
                          name="question"
                          rows="6"
                          cols="40"
                          class="form-control box-shadow-dgray"
                          placeholder="e.g. When will I get paid!"
                          data-val="true"
                          data-val-required="Your question is required"></textarea>

            </div>
            <div class="col-md-2">
                <span class="control-label field-validation-valid" data-valmsg-for="question" data-valmsg-replace="true">
                </span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-11 col-md-11 col-lg-offset-1 col-md-offset-1">
                <input type="submit" class="btn btn-primary" value="Send Question" />
            </div>
        </div>
    </form>
</div>
@section header
{
    <div class="col-lg-12 col-md-12">
        <h2>Ask Saleular!</h2>
        <p>
            Ask about the status of your shipped iPhone or any other general questions reguarding our process.
        </p>
        <hr />
    </div>
 }
@section scripts
{
    @Scripts.Render("~/Scripts/validation")
    @Scripts.Render("~/Scripts/home_questions")
}
@section styles
{
    @Styles.Render("~/Content/home_questions")
}