
@{
    ViewBag.Title = "Questions";
}
<div class="row">
    <div class="col-md-12">
        <form>
            <div class="form-group">
                <label for="questionInput">Your Questions</label>
                <input name="questionInput"
                          class="form-control" 
                          placeholder="Enter Comments here" />
            </div>            
        </form>

    </div>
</div>


