@{
    ViewBag.Title = "Testimonials";
}

@section header
{
    <div class="col-lg-12 col-md-12">
        <h2>Hear what people think about us!</h2>
        <p>
            Read testimonials from real customers who rave about our customer service and best offer price.
        </p>
        <hr />
    </div>
}
<div class="col-md-12 col-lg-12">
    <h2>Tomer from Tampa FL</h2>
</div>
<div class="col-lg-3 col-md-3">
    <img src="~/Images/Testimonials/tomer.png" class="img-responsive" />
</div>
<div class="col-lg-9 col-md-9">
    <p>
        At first i was skeptical..
    </p>
    <p>
        However I am very impressed and pleased with how everything was handled! Very quick, professional, and easy!
    </p>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <hr />
</div>
<div class="col-md-12 col-lg-12">
    <h2>Amy from New Brunswick NJ</h2>
</div>
<div class="col-lg-3 col-md-3">
    <img src="~/Images/Testimonials/amy.jpg" class="img-responsive" />
</div>
<div class="col-lg-9 col-md-9">
    <p>
        From start to finish the process was completely easy.
    </p>
    <p>
        First, they let me know they received my iPhone. Second they let me know they checked it in. Third they let me know when the check up was complete and offered me MORE than what was originally promised due to the shape my iPhone was in.
    </p>
    <p>
        I will never use another company due to the excellent customer service as well as the fair price for purchasing my used electronics.
    </p>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <hr />
</div>
<div class="col-md-12 col-lg-12">
    <h2>Robert from Phoenix AZ </h2>
</div>
<div class="col-lg-3 col-md-3">
    <img src="~/Images/Testimonials/robert.png" class="img-responsive" />
</div>
<div class="col-lg-9 col-md-9">
    <p>
        This was very simple and the offer for my phone was fair and reasonable.
    </p>
    <p>
        I will definitely use this again in the future. Thanks!
    </p>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <hr />
</div>
<div class="col-md-12 col-lg-12">
    <h2>Eric from Washington NJ</h2>
</div>
<div class="col-lg-3 col-md-3">
    <img src="~/Images/Testimonials/eric.jpg" class="img-responsive" />
</div>
<div class="col-lg-9 col-md-9">
    <p>
        I was careful to research and choose a company that did not have a reputation of changing the amount offered for my iPhone after the phone arrived for inspection.
    </p>
    <p>
        I am well pleased that everything went as promised. The process is very easy and straight forward.
    </p>
</div>


